<!-- IF GAMES  -->
<!-- <div class="Leaderboard">
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th class="left">User</th>
        <th># of turns</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td class="left">email</td>
        <td>turn</td>
        <td>created</td>
      </tr>
    </tbody>
  </table>
</div> -->

<!-- IF NO GAMES AND NOT LOADING -->
<div class="Leaderboard Leaderboard__noGames">
  <div>No games have been played yet</div>
</div>

<!-- IF NO GAMES AND LOADING -->
<!-- <div class="Leaderboard Leaderboard__loading">
  <div>Fetching leaderboard.</div>
</div> -->
