<div class="CipherSelector">
  <ul>
    <li
      *ngFor="let value of cipher; let selectorIndex = index"
      [ngClass]="{selected: activeSelector === selectorIndex}"
      [style.backgroundColor]="getColor(value)"
      (click)="changeActiveSelector(selectorIndex)"
    >
      <ul *ngIf="activeSelector === selectorIndex">
        <li
          *ngFor="let color of colors; let colorIndex = index"
          [style.backgroundColor]="color"
          (click)="changeColour(selectorIndex, colorIndex); $event.stopPropagation()"
        ></li>
      </ul>
    </li>
  </ul>
  <button (click)="onComit()">OK</button>
</div>
