<div *ngIf="game">
  <div *ngIf="game.over && game.found" class="gameOver">
    <h2>:) You did it!</h2>
    <p>Congratulations, you have managed to guess the cipher in {{game.turn}} turns.</p>
    <a routerLink="/">Go to Main menu</a>
  </div>

  <div *ngIf="game.over && !game.found" class="gameOver">
    <h2>:'( Game over</h2>
    <p>You didn't manage to guess the cipher.</p>
    <a routerLink="/">Go to Main menu</a>
  </div>

  <mm-loading-spinner [loading]="!game.over && aiTurn"></mm-loading-spinner>

  <div *ngIf="!game.over && !aiTurn">
    <h2 class="turn">Turn #{{game.turn + 1}}</h2>
    <mm-cipher-selector
      [cipher]="lastGuess"
      (commit)="onCipherSelected($event)"
    ></mm-cipher-selector>
    <div class="board">
      <div class="board__guesses">
        <h3>Guesses</h3>
        <mm-selected-cipher *ngFor="let guess of game.guesses" [cipher]="guess.guess"></mm-selected-cipher>
      </div>
      <div class="board__ratings">
        <h3>Ratings</h3>
        <mm-rating *ngFor="let rating of game.ratings" [rating]="rating.rating"></mm-rating>
      </div>
    </div>
  </div>

</div>
